<h1>投稿ページ</h1>

<%= form_with model: @post,url: posts_path, local: true do |f| %>

  <div>
    <label>投稿者</label><%= f.text_field :name %>
  </div>
  
  <div>
    <label>本文</label><%= f.text_area :body %>
  </div>
  
  <%= f.submit '投稿' %>

<% end %>
